auto_mix_prep==0.2.0
fastapi==0.116.1
fastmcp==2.11.3
google_api_python_client==2.178.0
google_auth_oauthlib==1.2.2
jira==3.10.5
langchain_core==0.3.75
langgraph==0.6.6
llama_index==0.13.3
nest_asyncio==1.6.0
protobuf==3.19.6
pydantic==2.11.7
Requests==2.32.5
tzlocal==5.3.1
llama-index-llms-google-genai
llama-index-tools-mcp
llama-index-tools-google
